.approach-and-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approach {
  display: flex;
  justify-content: space-around;
  width: 90%;
  // border: 1px solid grey;
  padding: 25px 0;
  box-shadow: $header-shadow;
  margin-bottom: 25px;
}

.approach-list-item {
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  p {
    width: 75%;
    text-align: center;
    padding-top: 10px;
    color: grey;
  }
}

.format-line-2 {
  width: 50%;
  border-bottom: 1px solid $haventower-red;
  padding-top: 10px;
}