.approach-and-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approach {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  width: 90%;
  // box-shadow: $right-drop-shadow
  box-shadow: $float-shadow-bottom, $float-shadow-top;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#efefef));
  border-radius: 10px;
}

.approach-list-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
  p {
    width: 75%;
    text-align: center;
    padding-top: 15px;
    color: #767676;
  }
}

.format-line-2 {
  width: 20%;
  border-bottom: 1px solid $haventower-red;
  padding-top: 10px;
}

.business-wrap {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
  h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: $haventower-red;
    width: 100%;
    margin: 0 auto;
  }
}

.businesses {
  display: flex;
  flex-direction: column;
  width: 100%;
    ul {
    font-size: 1.0em;
    color: darkgrey;
    width: 100%;
  }
}

#specific-services-headline {
  margin-top: 15px;
  margin-bottom: 15px;
}

.specific-services {
  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
  }
}

.twin-haven-wrap {
  margin-top: 25px;
  width: 90%;
  padding: 25px 0;
  box-shadow: $float-shadow-bottom, $float-shadow-top;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#efefef));
}

.th-red-paragraph {
  color: $haventower-red;
  font-size: 1.3em;
}

.red-link {
  color: $haventower-red;
}

.th-purpose {
  display: flex;
  justify-content: space-around;
  p {
    @include center_center_flex;
    width: 25%;
    padding: 10px;
    text-align: center;
    border: 1px solid $haventower-red;
    box-shadow: $right-drop-shadow;
    color: $haventower-red;
    background-color: #f2f2f2;
    font-size: 1.1em;
  }
}