.approach-and-services-wrap {
  // margin-top: 0;
}

.approach-and-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.approach {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  width: 90%;
  // box-shadow: $right-drop-shadow
  box-shadow: $float-shadow-bottom, $float-shadow-top;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#efefef));
  border-radius: 10px;
}

.approach-list-item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
  p {
    width: 75%;
    text-align: center;
    padding-top: 15px;
    color: #767676;
  }
}

.format-line-2 {
  width: 20%;
  border-bottom: 1px solid $haventower-red;
  padding-top: 10px;
}

.business-wrap {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
  h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: $haventower-red;
    width: 100%;
    margin: 0 auto;
  }
}

.businesses {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
    ul {
    font-size: 1.0em;
    color: darkgrey;
    width: 100%;
  }
}

#specific-services-headline {
  margin-top: 25px;
  margin-bottom: 25px;
}

.specific-services {
  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
  }
}


// .business-wrap {
//   display: flex;
//   justify-content: space-around;
// }

// .business-wrap-div {
//   display: flex;
//   flex-direction: column;
//   align-items: space-around;
//   height: 100%;
//   h3 {
//     line-height: 1.3em;
//   }
//   width: 45%;
//   padding: 10px;
//   ul {
//     padding-left: 45px;
//     color: darkgrey;
//   }
// }

// .businesses {
//   width: 45%;
// }

// .specific-services {
//   width: 40%;
//   box-shadow: $take-flight-shadow;
//   background-color: lightgrey;
//   color: #f2f2f2;
//   border-radius: 15px;
//   ul {
//     font-size: 1.0em;
//     color: black;
//   }
//   h3 {
//     font-size: 1.2em;
//     color: $haventower-red;
//   }

// }