.flow-image {
  height: $flow-image-height;
  width: 100%;
  position: relative;
  box-shadow: $header-shadow;
  overflow: auto;
}

.second-image {
  background: url('../assets/AdobeStock_105033891.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.third-image {
  background: url('../assets/AdobeStock_102474785.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.fourth-image {
  background: url('../assets/AdobeStock_87193989.jpeg') no-repeat;
  background-position: top;
  background-size: cover;
}

.second-image-headline {
  display: flex;
  justify-content: flex-begin;
  height: $flow-image-height;
    h1 {
      margin-left: 45px;
      box-shadow: $take-flight-shadow;
      @include image_headline;
    }
}

.third-image-headline {
  display: flex;
  justify-content: flex-end;
  height: $flow-image-height;
    h1 {
      margin-right: 45px;
      box-shadow: $stand-out-shadow;
      @include image_headline;
    }
}