.flow-image {
  height: $flow-image-height;
  width: 100%;
  position: relative;
  box-shadow: $float-shadow-bottom;
  overflow: auto;
}

.second-image {
  background: url('../assets/AdobeStock_105033891.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.third-image {
  background: url('../assets/AdobeStock_102474785.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.fourth-image {
  background: url('../assets/AdobeStock_87193989.jpeg') no-repeat;
  background-position: top;
  background-size: cover;
}


.main-image-headline {
  display: none;
  justify-content: center;
  align-items: center;
  height: $main-image-height;
  z-index: 2;
  h1 {
    margin-right: 0px;
    box-shadow: $left-drop-shadow;
    @include image_headline;
  }
}

.second-image-headline,
.fourth-image-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $flow-image-height;
    h1 {
      margin-left: 0;
      box-shadow: $right-drop-shadow;
      @include image_headline;
    }
}

.third-image-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $flow-image-height;
    h1 {
      margin-right: 0px;
      box-shadow: $left-drop-shadow;
      @include image_headline;
    }
}