/*Learn More*/

.learn-more {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: none;
  background-color: #fff;
  z-index: 98;
}

.learn-more-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;
  p {
    color: grey;
  }
  
}

.learn-block {
  display: flex;
  justify-content: center;
}

#learn-more-header {
  margin: 25px 0 12.5px 0;
  text-transform: uppercase;
}

#learn-more-paragraph {
  width: 90%;
  margin: 12.5px 0 25px 0;
  text-align: center;
}

.lm-block {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fa {
    color: $haventower-red;
  }
  h2 {
    margin: 15px;
  }
  p {
    padding-top: 25px;
    width: 90%;
    text-align: center;
    font-size: 1.0em;
    color: darkgrey;
    line-height: 1.5em;
  }
}

.format-line {
  width: 30%;
  border-bottom: 1px solid $haventower-red;
}