/*Learn More*/

.learn-more {
  width: 100%;
  height: $main-image-height / 1.2;
  position: absolute;
  top: $main-image-height + $header-height;
  display: none;
  background-color: #fff;
}

.learn-more-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  height: 100%;
  p {
    color: grey;
    padding-bottom: 8px;
    width: 150px;
    text-align: center;
    // border-bottom: 1px solid grey;
    text-transform: uppercase;
  }
}

.learn-block {
  display: flex;
  justify-content: center;
}

#learn-more-header {
  margin: 50px 0;
  // margin-top: -75px;
  text-transform: uppercase;

}

.lm-block {
  width: 33%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fa {
    color: $haventower-red;
  }
  h2 {
    margin: 15px;
  }
  p {
    padding-top: 25px;
    width: 90%;
    text-align: center;
    font-size: 1.0em;
    color: darkgrey;
    line-height: 1.5em;
    text-transform: none;
  }
}

.format-line {
  width: 30%;
  border-bottom: 1px solid $haventower-red;
}