/*Learn More*/
.learn-more-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;  
}

.learn-block {
  display: flex;
  justify-content: center;
}



.lm-block {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fa {
    color: $haventower-red;
  }
  h2 {
    margin: 15px;
  }
  p {
    padding-top: 25px;
    width: 90%;
    text-align: center;
    font-size: 1.0em;
    color: darkgrey;
    line-height: 1.5em;
  }
}

.format-line {
  width: 30%;
  border-bottom: 1px solid $haventower-red;
}