/*Navigation*/

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $header-background-color;
  margin-top: 0;
  font-family: $header-font;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: $float-box-shadow;
  z-index: 1;
  display: none;
}

.primary-nav-wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 80%;
  display: flex;
}

.navigation {
  position: relative;
  float: left;
  font-size: 18px;
  color: $header-nav-font-color;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80%;
  
  :hover > .nav-list-item-sublist {
    display: block;
  }
}

.navigation-list-item,
.pipe {
  list-style: none;
  padding: 0;
}

.navigation-list-item {
  padding: 0px 25px;

  &:hover {
    color: $nav-hover-color;
  }
}

.dropdown {
  position: relative;
  float: left;
}

.nav-list-item-sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0px 0px 0px;
  color: $header-nav-font-color;
  background-color: $header-background-color;
  text-align: center;
  list-style: none;
}

.nav-list-item-sublist-item {
  float: none;
  width: 130px;
  padding: 10px 0px;
  font-size: 0.8em;

  &:hover {
    background-color: $nav-hover-color;
    color: $header-background-color;
  }
}

#logo {
  margin-right: auto;
  background: url('../assets/htlogo/logo_transparent_background.png') no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  // margin-top: 10px;
}