/*Navigation*/

.main-header-sticky-anchor {
  position: absolute;
  top: $main-image-height;
  left: 0;
}

.main-header {
  width: 100%;
  align-items: center;
  height: $header-height;
  background-color: $header-background-color;
  margin-top: 0;
  font-family: $header-font;
  position: fixed;
  top: 0;
  // position: absolute;
  // top: $main-image-height;
  // left: 0;
  border-bottom: 1px solid #f2f2f2;
  z-index: 99;
  display: none;
}

.sticky-header {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  box-shadow: $float-shadow-bottom;
  border-bottom: none;
}

.primary-nav-wrap {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  color: $haventower-red;
  margin-right: 45px;
}

#logo {
  margin-left: 25px;
}

.navigation {
  display: none !important;
  position: relative;
  float: left;
  font-size: 16px;
  color: $header-nav-font-color;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 80%;
  padding-left: 25px;
  
  :hover > .nav-list-item-sublist {
    display: block;
  }
}

.mobile-hide-list-item {
  display: none;
}

.fa-bars,
.fa-plus,
.fa-minus {
  &:hover {
    cursor: pointer;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: $header-height;
  right: 0;
  background-color: #fff;
  width: 100%;
}

.mobile-social-media {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.story-main,
.people-main,
.portfolio-main,
.more-main {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}

.mobile-drop-down {
  display: none;
  padding-left: 25px;
  p {
    padding-top: 5px;
  }
}

.navigation-list-item,
.pipe {
  list-style: none;
  padding: 0;
}

.navigation-list-item {
  padding: 0px 25px;

  &:hover {
    color: $nav-hover-color;
  }
}

.dropdown {
  position: relative;
  float: left;
}

.nav-list-item-sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0px 0px 0px;
  color: $header-nav-font-color;
  background-color: $header-background-color;
  text-align: center;
  list-style: none;
}

.nav-list-item-sublist-item {
  float: none;
  width: 130px;
  padding: 10px 0px;
  font-size: 0.8em;
  background-color: $header-background-color;
  color: $nav-hover-color;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  &:hover {
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-color: $nav-hover-color;
    color: $header-background-color;
  }
}

.last-list-item {
  margin-right: auto;
}

.first-list-item {
  margin-left: 25px;
}

.social-media-first {
  border-left: 1px solid #f2f2f2;
}

.social-media-last {
  margin-right: 25px;
}

.social-media {
  padding: 0px 10px;
  &:hover {
    font-size: 2em;
    cursor: pointer;
  }
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-twitter:hover {
  color: #00aced
}

.fa-linkedin:hover {
  color: #007BB6;
}

#logo {
  padding: 0 100px;
  background: url('../assets/htlogo/logo_transparent_background.png') no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  &:hover {
    cursor: pointer;
  }
}