$header-height: 100px;

$header-font: 'Oswald', sans-serif;
$header-background-color: #FFDD17;
$header-nav-font-color: #252932;
$nav-hover-color: #252932;
$nav-active-color: red;

$main-image-height: 800px;

$float-box-shadow: 0 15px 20px -12px rgba(0,0,0, 0.8);

/*Navigation*/

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $header-background-color;
  margin-top: 0;
  font-family: $header-font;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: $float-box-shadow;
  opacity: 0.8;
  z-index: 1;
}

#primary-nav-wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.navigation {
  position: relative;
  float: left;
  font-size: 18px;
  color: $header-nav-font-color;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 80%;
  li:hover {
    color: $nav-hover-color;
  }
  :hover > ul {
    display: block;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  :hover {
    cursor: pointer;
  }
  .active {
    color: $nav-active-color;
  }
  li {
    list-style: none;
    padding: 0px 25px;
  }
  .dropdown {
    position: relative;
    float: left;
  }
  ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0px;
    color: $header-nav-font-color;
    background-color: $header-background-color;
    text-align: center;
    :hover {
      text-decoration: underline;
      // color: $header-background-color;
      // background-color: $header-nav-font-color;
    }
    li {
      float: none;
      width: 130px;
      padding: 10px 0px;
      font-size: .8em;
    }
  }
  .pipe {
    padding: 0;
  }
}

#logo {
  margin-right: auto;
  font-size: 24px;
}