.second-image {
  height: $main-image-height;
  width: 100%;
  position: absolute;
  top: $main-image-height + $header-height + $main-image-height / 1.2;
  background: url('../assets/AdobeStock_105033891.jpeg') center no-repeat;
  background-size: cover;
  display: none;
}