.second-image {
  height: $take-flight-height;
  width: 100%;
  background: url('../assets/AdobeStock_105033891.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  // display: none;
  position: relative;
  box-shadow: $header-shadow;
}

.second-image-headline-wrap {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: flex-start;
  color: #f9f9f9;
  font-size: 4em;
  line-height: 1.1em;
  letter-spacing: 4px;
  font-family: $header-font;
  border: 3px solid $haventower-red;
  text-align: center;
  width: 20%;
  margin-left: 45px;
  margin-top: 45px;
  padding: 25px;
  text-transform: uppercase;
  box-shadow: $take-flight-shadow;
  }
}