.flow-image {
  height: $flow-image-height;
  width: 100%;
  position: relative;
  box-shadow: $header-shadow;
}

.second-image {
  background: url('../assets/AdobeStock_105033891.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.third-image {
  background: url('../assets/AdobeStock_102474785.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.fourth-image {
  background: url('../assets/AdobeStock_87193989.jpeg') no-repeat;
  background-position: top;
  background-size: cover;
}

.second-image-headline-wrap {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: flex-start;
  color: #f9f9f9;
  font-size: 4em;
  line-height: 1.1em;
  letter-spacing: 4px;
  font-family: $header-font;
  border: 3px solid $haventower-red;
  text-align: center;
  width: 20%;
  margin-left: 45px;
  margin-top: 45px;
  padding: 25px;
  text-transform: uppercase;
  box-shadow: $take-flight-shadow;
  }
}

.sticky-image {
  position: fixed;
  left: 0;
  top: $header-height;
  box-shadow: none;
  z-index: -99;
}