.testamonials-wrap {
  height: 100%;
  @include center_center_flex;
  // background-color: #d9d9d9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#d9d9d9));
  padding: 25px;
  position: relative;
  box-shadow: $float-shadow-top, $float-shadow-bottom;
}

.image1 {
  background: url('../assets/Papazian Head Shot.jpg') no-repeat top;
  background-size: cover;
}

.testimonials {
  width: 100%;
}

.testimonial-image {
  width: 125px;
  height: 125px;
  background-color: orange;
  border-radius: 50%;
  align-self: flex-end;
}

.testimonial-text {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-testimonial {
  text-align: justify;
  color: black;
  width: 100%;
  font-style: italic;
  line-height: 1.25em;
  // font-weight: bold;
}

.author-testimonial {
  align-self: center;
  margin-top: 15px;
  text-align: right;
  margin-right: 50px;
}

.author-and-picture {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 1.25em;
  color: $haventower-red;
  display: inline;
}

.author-name {
  border-bottom: 1px solid $haventower-red;
  padding-bottom: 12px;
  font-size: 1.2em;
}

blockquote {
  // border-left: 10px solid $haventower-red;
  margin: 1.0em 10px;
  padding: 0.5em 10px;
  line-height: 1.25em;
}
blockquote:before {
  color: $haventower-red;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: $haventower-red;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}

blockquote p {
  display: inline;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

// .slick-prev:before {
//   content: "\f0d9";
// }

.slick-prev:before,
.slick-next:before {
  color: $haventower-red;
  // font-family: FontAwesome;
}

.slick-dots li.slick-active button::before {
  color: $haventower-red;
}




