.testamonials {
  width: 100%;
  height: $main-image-height / 1.5;
  opacity: 1.0;
}

#testamonials-background-image {
  background: url('../assets/AdobeStock_105033891.jpeg') center;
  background-size: cover;
  width: 100%;
  height: 100%;
  

}