.image1 {
  background: url('../assets/Papazian Head Shot.jpg') center no-repeat;
  background-size: cover;
}

.testimonial-wrap,
.testimonial-opacity-box {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  border-radius: 5px;
}

.testimonial-wrap {
  margin-top: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.testimonial-opacity-box {
  height: 275px;
  background-color: #f2f2f2;
  opacity: .7;
  box-shadow: 0px 0px 5px 5px rgba(242,242,242,1);
}

.testimonials {
  width: 100%;
}

.testimonial-image {
  width: 125px;
  height: 125px;
  background-color: orange;
  border-radius: 50%;
  align-self: flex-end;
}

.image1 {
  background: url('../assets/Papazian Head Shot.jpg') center no-repeat;
  background-size: cover;
}

.testimonial-text {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-testimonial {
  text-align: justify;
  color: black;
  width: 100%;
  font-style: italic;
  line-height: 1.25em;
  font-weight: bold;
}

.author-testimonial {
  align-self: center;
  margin-top: 15px;
  text-align: right;
  margin-right: 50px;
}

.author-and-picture {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 15px;
}

.quotes {
  font-size: 1.25em;
  color: $haventower-red;
}

.author-name {
  border-bottom: 1px solid $haventower-red;
  padding-bottom: 12px;
  font-size: 1.2em;
}




