$haventower-red: #E51B23;

$header-font: 'Oswald', sans-serif;
$body-font: 'roboto', sans-serif;
$header-background-color: #fff;
$header-nav-font-color: #252932;
$nav-hover-color: $haventower-red;
$nav-active-color: $haventower-red;

$header-shadow: 0 15px 20px -12px rgba(0,0,0, 0.8);
$stand-out-shadow: -20px 20px 28px -9px rgba(0,0,0, 0.8);
$take-flight-shadow: 20px 20px 28px -9px rgba(0,0,0, 0.8);

$header-height: 100px;
$main-image-height: 800px;
$take-flight-height: 600px;
$testamonials-height: 400px;