@import '_normalize.scss';
@import '_navigation.scss';

$body-font: 'roboto', sans-serif;

$float-box-shadow: 0 15px 20px -12px rgba(0,0,0, 0.8);


// * {
//   border: 1px solid orange;
// }

/*Body*/

body {
  background-color: #f2f2f2;
  font-family: $body-font;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

/*Main Image*/

.main-image {
  background: url('../assets/fish.jpeg') center no-repeat;
  background-size: cover;
  padding-top: -($header-height);
  width: 100%;
  height: $main-image-height;
  padding-top: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Learn More*/

.learn-more {
  width: 100%;
  height: 600px;
  margin-top: $main-image-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.learn-more-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 90%;
  border: 1px solid grey;
}

.lm-block {
  width: 30%;
  height: 90%;
  border: 1px solid grey;
}

/*Testamonials*/

.testamonials {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
}

/*Portfolio*/

.portfolio {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.portfolio-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
}

.partner {
  width: 15%;
  height: 40%;
  box-shadow: $float-box-shadow;
}


/*work*/

.work {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
}

/*Footer*/

.footer {
  width: 100%;
  height: 100px;
  background: #f2f2f2
}
