@import '_normalize.scss';

$background-color: #e32020;

$header-height: 100px;

$body-font: 'roboto', sans-serif;
$header-font: 'Oswald', sans-serif;

$main-image-height: 70vh;
$float-box-shadow: 0 15px 20px -12px rgba(0,0,0, 0.8);


// * {
//   border: 1px solid orange;
// }

/*Body*/

body {
  background-color: #f2f2f2;
  font-family: $body-font;
}

/*Header*/

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: black;
  margin-top: 0;
  font-family: $header-font;
  position: fixed;
  box-shadow: $float-box-shadow;
  opacity: 0.8;
}

nav {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.navigation {
  font-size: 18px;
  color: white;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 80%;
  a {
    text-decoration: none;
    color: inherit;
  }
    :hover {
      color: yellow;
      font-size: 1.1em;
    }
    .active {
      color: pink;
    }
  li {
    list-style: none;
  }
    li:nth-child(even) {
      padding: 0 25px;
    }
}

#logo {
  margin-right: auto;
  font-size: 24px;
}


/*Main Image*/

.main-image {
  background: url('../assets/fish.jpeg') center no-repeat;
  background-size: cover;
  padding-top: -($header-height);
  width: 100%;
  height: $main-image-height;
  padding-top: $header-height;
}

/*Learn More*/

.learn-more {
  width: 100%;
  height: 600px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 90%;
}

.lm-block {
  width: 30%;
  height: 90%;
  border: 1px solid black;
}

/*Testamonials*/

.testamonials {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
  border: 1px solid grey;
}

/*Portfolio*/

.portfolio {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
}

.portfolio-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
  border: 1px solid darkgrey;
}

.partner {
  width: 15%;
  height: 40%;
  border: 1px solid darkgrey;
  box-shadow: $float-box-shadow;
}


/*work*/

.work {
  width: 100%;
  height: 600px;
  border: 1px solid grey;
}

/*Footer*/

.footer {
  width: 100%;
  height: 100px;
  border: 1px solid grey;
}
