@import '_variables.scss';
@import '_mixins.scss';
@import '_normalize.scss';
@import '_navigation.scss';
@import '_main-image.scss';
@import '_learn-more.scss';
@import '_second-image.scss';
@import 'slick/slick.scss';
@import 'slick/slick-theme.scss';
@import '_testamonials.scss';
@import '_compass-picture.scss';
@import '_approach-and-services.scss';
@import '_portfolio.scss';
@import '_footer.scss';


// * {
//   min-height: 0;
//   min-width: 0;
// }

/*Body*/

body {
  font-family: $body-font;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.body-wrap {
  position: absolute;
  top: $main-image-height + $header-height;
  width: 100%;
}
